@import 'var/varibels';
@import 'text/text';

@import 'header/header';
@import 'footer/footer';

@import 'bredcrumbs/bredcrumbs';
@import 'home/home';
@import 'news/news';
@import 'vebinar/vebinar';
@import 'katalog/katalog';
@import 'contact/contact';
@import 'product/product';
@import 'company/company';

.container {
	max-width: 1180px;
	margin: 0 auto;
}

body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	overflow-x: hidden;
}

main {
	min-height: calc(100vh - 150px);
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

li {
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
}

#wrapper {
	overflow-x: hidden;
}

// CAROLINA

@font-face {
	font-family: "Carolina";
	src: url("../fonts/carolina/CAROLINA.TTF");
}

//LATO
@font-face {
	font-family: "Lato-bold";
	src: url("../fonts/lato/Lato-Bold.ttf");
}

@font-face {
	font-family: "Lato-regular";
	src: url("../fonts/lato/Lato-Regular.ttf");
}

@font-face {
	font-family: "Lato-Light";
	src: url("../fonts/lato/Lato-Light.ttf");
}

//MUSEO
@font-face {
	font-family: "Museo-bold";
	src: url("../fonts/museo/MuseoSansCyrl_2.otf");
}

@font-face {
	font-family: "Museo-medium";
	src: url("../fonts/museo/MuseoSansCyrl_1.otf");
}

@font-face {
	font-family: "Museo-regular";
	src: url("../fonts/museo/MuseoSansCyrl_0.otf");
}

@font-face {
	font-family: "Museo-light";
	src: url("../fonts/museo/MuseoSansCyrl.otf");
}

.owl-theme .owl-nav {
	margin-top: 10px;
	display: flex;
	position: relative;
	top: -230px;
	justify-content: space-between;
	@media (max-width: 1260px) {
		justify-content: center;
		top: 0;
	}
	@media (max-width: 480px) {
		display: none;
	}
}

.owl-theme .owl-nav [class*='owl-'] {
	font-size: 70px !important;
	margin: 0;
	padding: 0;
	outline: none !important;
	border: none !important;
	color: rgba(0, 0, 0, .45) !important;
	@media (max-width: 1260px) {
		font-size: 60px !important;
	}
}

.owl-prev {
	position: relative;
	left: -70px !important;
	@media (max-width: 1366px) {
		left: -40px !important;
	}
	@media (max-width: 1260px) {
		    left: -15px !important;
		    margin-left: 0px !important;
	}
}

.owl-next {
	position: relative;
	right: -70px;
	@media (max-width: 1366px) {
		right: -40px;
	}
	@media (max-width: 1260px) {
		right: -15px;
	}
}

.owl-theme .owl-dots {
	@media (max-width: 990px) {
		position: relative;
		top: 32px;
	}
}