.title-xl {
    display: block;
    font-family: "Museo-bold";
    font-size: 2.5rem;
    margin-bottom: 50px;
}



.button-box {
    margin-bottom: 50px;
}

.button-bg {
    font-family: "Museo-regular";
    font-size: 1.1rem;
    color: #fff;
    background: #CEB388;
    border-radius: 40px;
    padding: 15px 30px;
}


.transparent {
    background: transparent;
    color: #000;
    border: 1px solid #CEB388;
}