.bredcrumbs {
    position: relative;
    ul {
        display: flex;
        @media (max-width: 768px) {
            flex-wrap: wrap;
        }
        li {
            display: block;
            a {
                font-size: .87rem;
                color: $colortext;
                font-family: "Museo-regular";
                &::after {
                    content: '/';
                    margin: 0 5px;
                }
            }
        } 
        li:last-child {
            a {
                opacity: .7;
                &::after {
                    content: '';
                }
            }
        }
    }
}