.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 255px;
    grid-gap: 20px;

    @media (max-width: 990px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
    }
}